[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMIP6VisR"]
	path = CMIP6VisR
	url = https://github.com/tychelab/cmip6visr
[submodule "CoSMoS"]
	path = CoSMoS
	url = https://github.com/tychelab/cosmos
